.light[data-contrast="zinc"] {
    --background: oklch(0.97 0.005 250);
    --background-weak: oklch(1 0 0);
    --foreground: oklch(0.427 0.005 250);
    --foreground-heavy: oklch(0.277 0.005 250);
    --alpha: oklch(0.277 0.005 250);
    --foreground-weak: oklch(0.686 0.005 250);
    --card: oklch(0.377 0.005 250 / 2%);
    --card-foreground: oklch(0.427 0.005 250);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.427 0.005 250);

    --muted: oklch(0.97 0.005 250);
    --muted-foreground: oklch(0.686 0.005 250);
    --accent: oklch(0.97 0.005 250);
    --accent-foreground: oklch(0.205 0.005 250);
    --destructive: oklch(0.659 0.1751 22.5);
    --border: oklch(0.922 0.005 250);
    --input: oklch(0.902 0.005 250);

    --sidebar: oklch(0.985 0.005 250);
    --sidebar-foreground: oklch(0.427 0.005 250);

    --sidebar-accent: oklch(0.97 0.005 250);
    --sidebar-accent-foreground: oklch(0.205 0.005 250);
    --sidebar-border: oklch(0.922 0.005 250);
    --sidebar-ring: oklch(0.708 0.005 250);
}

.dark[data-contrast="zinc"] {
    --background: oklch(0.165 0.01 250);
    --background-weak: oklch(0.165 0.01 250);
    --foreground: oklch(0.885 0.01 250);
    --alpha: oklch(0.885 0.01 250);
    --foreground-heavy: oklch(0.999 0.01 250);
    --foreground-weak: oklch(0.408 0.01 250);
    --card: oklch(1 0 0 / 2%);
    --card-foreground: oklch(0.885 0.01 250);
    --popover: oklch(0.205 0.01 250);
    --popover-foreground: oklch(0.885 0.01 250);

    --muted: oklch(0.269 0.01 250);
    --muted-foreground: oklch(0.608 0.01 250);
    --accent: oklch(0.269 0.01 250);
    --accent-foreground: oklch(0.885 0.01 250);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 8%);
    --input: oklch(1 0 0 / 8%);

    --sidebar: oklch(0.205 0.01 250);
    --sidebar-foreground: oklch(0.985 0.01 250);

    --sidebar-accent: oklch(0.269 0.01 250);
    --sidebar-accent-foreground: oklch(0.985 0.01 250);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0.01 250);
}
