:root,
[data-theme="light"],
.light {
    --background: oklch(1 0 0);
    --foreground: oklch(0.427 0 0);
    --foreground-heavy: oklch(0.277 0 0);
    --alpha: oklch(0.277 0 0);
    --foreground-weak: oklch(0.686 0 0);
    --card: oklch(0.377 0 0 / 2%);
    --card-foreground: oklch(0.427 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.427 0 0);
    --primary: oklch(0.841 0.238 128.85);
    --primary-foreground: oklch(0.405 0.101 131.063);

    /*--secondary: oklch(0.967 0.001 286.375);*/
    /*--secondary-foreground: oklch(0.21 0.006 285.885);*/
    --secondary: oklch(0.596 0.085 163.225);
    --secondary-foreground: oklch(1 0 166.913);

    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.686 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.902 0 0);
    --ring: oklch(0.641 0.138 128.85);
    --chart-1: oklch(0.845 0.143 164.978);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.596 0.145 163.225);
    --chart-4: oklch(0.508 0.118 165.612);
    --chart-5: oklch(0.432 0.095 166.913);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.427 0 0);
    --sidebar-primary: oklch(0.648 0.2 131.684);
    --sidebar-primary-foreground: oklch(0.986 0.031 120.757);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

[data-theme="dark"],
.dark {
    --background: oklch(0.165 0 0);
    --foreground: oklch(0.885 0 0);
    --alpha: oklch(0.885 0 0);
    --foreground-heavy: oklch(0.999 0 0);
    --foreground-weak: oklch(0.408 0 0);
    /* --card: oklch(0.205 0 0); */
    --card: oklch(1 0 0 / 2%);
    --card-foreground: oklch(0.885 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.885 0 0);
    --primary: oklch(0.768 0.233 130.85);
    --primary-foreground: oklch(0.405 0.101 131.063);
    --secondary: oklch(0.596 0.085 163.225);
    --secondary-foreground: oklch(1 0 166.913);
    /*--secondary: oklch(0.274 0.006 286.033);
    --secondary-foreground: oklch(0.885 0 0);*/
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.608 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.885 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 8%);
    --input: oklch(1 0 0 / 8%);
    /* --ring: oklch(0.556 0 0); */
    --ring: oklch(0.641 0.138 128.85);
    --chart-1: oklch(0.845 0.143 164.978);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.596 0.145 163.225);
    --chart-4: oklch(0.508 0.118 165.612);
    --chart-5: oklch(0.432 0.095 166.913);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.768 0.233 130.85);
    --sidebar-primary-foreground: oklch(0.274 0.072 132.109);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}
