.light[data-theme-color="blue"] {
    --primary: oklch(0.623 0.214 259.815);
    --primary-foreground: oklch(0.98 0.01 259.815);
    --secondary: oklch(0.795 0.184 86.047);
    --secondary-foreground: oklch(0.2 0.02 86.047);
    --ring: oklch(0.623 0.214 259.815);

    --chart-1: oklch(0.845 0.143 259.815);
    --chart-2: oklch(0.696 0.17 259.815);
    --chart-3: oklch(0.596 0.145 259.815);
    --chart-4: oklch(0.508 0.118 259.815);
    --chart-5: oklch(0.432 0.095 259.815);

    --sidebar-primary: oklch(0.623 0.214 259.815);
    --sidebar-primary-foreground: oklch(0.98 0.01 259.815);
}
.dark[data-theme-color="blue"] {
    --primary: oklch(0.623 0.214 259.815);
    --primary-foreground: oklch(0.98 0.01 259.815);
    --secondary: oklch(0.795 0.184 86.047);
    --secondary-foreground: oklch(0.2 0.02 86.047);
    --ring: oklch(0.623 0.214 259.815);

    --chart-1: oklch(0.845 0.143 259.815);
    --chart-2: oklch(0.696 0.17 259.815);
    --chart-3: oklch(0.596 0.145 259.815);
    --chart-4: oklch(0.508 0.118 259.815);
    --chart-5: oklch(0.432 0.095 259.815);

    --sidebar-primary: oklch(0.623 0.214 259.815);
    --sidebar-primary-foreground: oklch(0.98 0.01 259.815);
}
