.light[data-theme-color="cyan"] {
    --primary: oklch(0.715 0.143 215.221);
    --primary-foreground: oklch(0.2 0.02 215.221);
    --secondary: oklch(0.705 0.213 47.604);
    --secondary-foreground: oklch(0.2 0.02 47.604);
    --ring: oklch(0.715 0.143 215.221);

    --chart-1: oklch(0.845 0.143 215.221);
    --chart-2: oklch(0.696 0.17 215.221);
    --chart-3: oklch(0.596 0.145 215.221);
    --chart-4: oklch(0.508 0.118 215.221);
    --chart-5: oklch(0.432 0.095 215.221);

    --sidebar-primary: oklch(0.715 0.143 215.221);
    --sidebar-primary-foreground: oklch(0.2 0.02 215.221);
}
.dark[data-theme-color="cyan"] {
    --primary: oklch(0.715 0.143 215.221);
    --primary-foreground: oklch(0.2 0.02 215.221);
    --secondary: oklch(0.705 0.213 47.604);
    --secondary-foreground: oklch(0.2 0.02 47.604);
    --ring: oklch(0.715 0.143 215.221);

    --chart-1: oklch(0.845 0.143 215.221);
    --chart-2: oklch(0.696 0.17 215.221);
    --chart-3: oklch(0.596 0.145 215.221);
    --chart-4: oklch(0.508 0.118 215.221);
    --chart-5: oklch(0.432 0.095 215.221);

    --sidebar-primary: oklch(0.715 0.143 215.221);
    --sidebar-primary-foreground: oklch(0.2 0.02 215.221);
}
