.light[data-theme-color="indigo"] {
    --primary: oklch(0.585 0.233 277.117);
    --primary-foreground: oklch(0.98 0.01 277.117);
    --secondary: oklch(0.795 0.184 86.047);
    --secondary-foreground: oklch(0.2 0.02 86.047);
    --ring: oklch(0.585 0.233 277.117);

    --chart-1: oklch(0.845 0.143 277.117);
    --chart-2: oklch(0.696 0.17 277.117);
    --chart-3: oklch(0.596 0.145 277.117);
    --chart-4: oklch(0.508 0.118 277.117);
    --chart-5: oklch(0.432 0.095 277.117);

    --sidebar-primary: oklch(0.585 0.233 277.117);
    --sidebar-primary-foreground: oklch(0.98 0.01 277.117);
}
.dark[data-theme-color="indigo"] {
    --primary: oklch(0.585 0.233 277.117);
    --primary-foreground: oklch(0.98 0.01 277.117);
    --secondary: oklch(0.795 0.184 86.047);
    --secondary-foreground: oklch(0.2 0.02 86.047);
    --ring: oklch(0.585 0.233 277.117);

    --chart-1: oklch(0.845 0.143 277.117);
    --chart-2: oklch(0.696 0.17 277.117);
    --chart-3: oklch(0.596 0.145 277.117);
    --chart-4: oklch(0.508 0.118 277.117);
    --chart-5: oklch(0.432 0.095 277.117);

    --sidebar-primary: oklch(0.585 0.233 277.117);
    --sidebar-primary-foreground: oklch(0.98 0.01 277.117);
}
