.light[data-theme-color="purple"] {
    --primary: oklch(0.627 0.265 303.9);
    --primary-foreground: oklch(0.98 0.01 303.9);
    --secondary: oklch(0.768 0.233 130.85);
    --secondary-foreground: oklch(0.2 0.02 130.85);
    --ring: oklch(0.627 0.265 303.9);

    --chart-1: oklch(0.845 0.143 303.9);
    --chart-2: oklch(0.696 0.17 303.9);
    --chart-3: oklch(0.596 0.145 303.9);
    --chart-4: oklch(0.508 0.118 303.9);
    --chart-5: oklch(0.432 0.095 303.9);

    --sidebar-primary: oklch(0.627 0.265 303.9);
    --sidebar-primary-foreground: oklch(0.98 0.01 303.9);
}
.dark[data-theme-color="purple"] {
    --primary: oklch(0.627 0.265 303.9);
    --primary-foreground: oklch(0.98 0.01 303.9);
    --secondary: oklch(0.768 0.233 130.85);
    --secondary-foreground: oklch(0.2 0.02 130.85);
    --ring: oklch(0.627 0.265 303.9);

    --chart-1: oklch(0.845 0.143 303.9);
    --chart-2: oklch(0.696 0.17 303.9);
    --chart-3: oklch(0.596 0.145 303.9);
    --chart-4: oklch(0.508 0.118 303.9);
    --chart-5: oklch(0.432 0.095 303.9);

    --sidebar-primary: oklch(0.627 0.265 303.9);
    --sidebar-primary-foreground: oklch(0.98 0.01 303.9);
}
