.light[data-theme-color="teal"] {
    --primary: oklch(0.704 0.14 182.503);
    --primary-foreground: oklch(0.2 0.02 182.503);
    --secondary: oklch(0.656 0.241 354.308);
    --secondary-foreground: oklch(0.98 0.01 354.308);
    --ring: oklch(0.704 0.14 182.503);

    --chart-1: oklch(0.845 0.143 182.503);
    --chart-2: oklch(0.696 0.17 182.503);
    --chart-3: oklch(0.596 0.145 182.503);
    --chart-4: oklch(0.508 0.118 182.503);
    --chart-5: oklch(0.432 0.095 182.503);

    --sidebar-primary: oklch(0.704 0.14 182.503);
    --sidebar-primary-foreground: oklch(0.2 0.02 182.503);
}
.dark[data-theme-color="teal"] {
    --primary: oklch(0.704 0.14 182.503);
    --primary-foreground: oklch(0.2 0.02 182.503);
    --secondary: oklch(0.656 0.241 354.308);
    --secondary-foreground: oklch(0.98 0.01 354.308);
    --ring: oklch(0.704 0.14 182.503);

    --chart-1: oklch(0.845 0.143 182.503);
    --chart-2: oklch(0.696 0.17 182.503);
    --chart-3: oklch(0.596 0.145 182.503);
    --chart-4: oklch(0.508 0.118 182.503);
    --chart-5: oklch(0.432 0.095 182.503);

    --sidebar-primary: oklch(0.704 0.14 182.503);
    --sidebar-primary-foreground: oklch(0.2 0.02 182.503);
}
