.light[data-theme-color="violet"] {
    --primary: oklch(0.606 0.25 292.717);
    --primary-foreground: oklch(0.98 0.01 292.717);
    --secondary: oklch(0.768 0.233 130.85);
    --secondary-foreground: oklch(0.2 0.02 130.85);
    --ring: oklch(0.606 0.25 292.717);

    --chart-1: oklch(0.845 0.143 292.717);
    --chart-2: oklch(0.696 0.17 292.717);
    --chart-3: oklch(0.596 0.145 292.717);
    --chart-4: oklch(0.508 0.118 292.717);
    --chart-5: oklch(0.432 0.095 292.717);

    --sidebar-primary: oklch(0.606 0.25 292.717);
    --sidebar-primary-foreground: oklch(0.98 0.01 292.717);
}
.dark[data-theme-color="violet"] {
    --primary: oklch(0.606 0.25 292.717);
    --primary-foreground: oklch(0.98 0.01 292.717);
    --secondary: oklch(0.768 0.233 130.85);
    --secondary-foreground: oklch(0.2 0.02 130.85);
    --ring: oklch(0.606 0.25 292.717);

    --chart-1: oklch(0.845 0.143 292.717);
    --chart-2: oklch(0.696 0.17 292.717);
    --chart-3: oklch(0.596 0.145 292.717);
    --chart-4: oklch(0.508 0.118 292.717);
    --chart-5: oklch(0.432 0.095 292.717);

    --sidebar-primary: oklch(0.606 0.25 292.717);
    --sidebar-primary-foreground: oklch(0.98 0.01 292.717);
}
